<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<meta name='viewport' content='width=device-width, initial-scale=1' />
<title><% if (page.title) { %><%= page.title %> &mdash; <%= config.title %><% } else if (is_archive() || is_tag() || is_category()) { %><%= config.title %> Archive<% } else { %><%= config.title %> <%= config.subtitle %><% } %></title>
<meta name='description' content='<% if (page.seo) { %><%= page.seo %><% } else { %><%= config.description %><% } %>' />

<!-- normalize.css --><link ref='stylesheet' href='https://unpkg.com/normalize.css@8.0.0/normalize.css' />
<!-- font awesome --><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!-- theme --><%- css('css/theme.css') %>

<!-- highlight.js --><% var highlight = 'default' %><% if (theme.highlight) { %><% highlight = theme.highlight %><% } %>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/<%= highlight %>.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      // code...
      hljs.initHighlightingOnLoad();
    });
</script>
<% if (config.ga_tracking.enable) { %><%- partial('_scripts/google-analytics') %><% } %>
</head>